/totoUtil/bin
/totoUtil/obj
/cmdUtils/bin
/cmdUtils/obj
/MoulUtil/bin/Debug/*.config
/MoulUtil/bin/Debug/ICSharpCode.SharpZipLib.dll
/MoulUtil/bin/Debug/ICSharpCode.SharpZipLib.pdb
/MoulUtil/bin/Debug/ICSharpCode.SharpZipLib.xml
/MoulUtil/bin/Debug/MoulUtil.exe
/MoulUtil/bin/Debug/MoulUtil.pdb
/MoulUtil/bin/Debug/MySql.Data.dll
/MoulUtil/bin/Debug/cmdUtils.exe
/MoulUtil/bin/Debug/cmdUtils.pdb
/MoulUtil/bin/Debug/log4net.dll
/MoulUtil/bin/Debug/log4net.pdb
/MoulUtil/bin/Debug/log4net.xml
/MoulUtil/obj/Debug/MoulUtil.csproj.FileListAbsolute.txt
/MoulUtil/obj/Debug/MoulUtil.csprojResolveAssemblyReference.cache
/MoulUtil/obj/Debug/MoulUtil.exe
/MoulUtil/obj/Debug/MoulUtil.pdb
*.exe
TestEditorUtil/bin/Debug/TestEditorUtil.exe
*.pdb
TestEditorUtil/obj/Debug/TestEditorUtil.exe
*.pdb
/TestEditorUtil/obj/Debug/*.exe
/TestEditorUtil/obj/Debug/*.pdb
/TestUtil/bin/Debug/*.exe
/TestUtil/bin/Debug/TestUtil.pdb
/TestEditorUtil/bin/Debug/*.exe
/TestEditorUtil/bin/Debug/TestEditorUtil.pdb
/TestEditorUtil/bin/Debug/TestEditorUtil.exe
/docs
