<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="TotoUtil"
		Language="1033"
		Version="1.0.0.0"
		UpgradeCode="7EE1F414-0789-4942-B1C2-14F51D03D9F3"
		Manufacturer="Toto by Toto">
		<Package Description="Description"
			Comments= "guess who is toto"
			InstallerVersion="200"
			Compressed="yes"
		/>
	
	<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" /> 
  <!-- Installation directory and files are defined in Files.wxs --> 
  <Directory Id="totoUtil" Name="CibleDir"/> 
		<Directory Id="TARGETDIR" SourceName="SourceDir" Name="abcd">
			<Directory Id="ProgramFilesFolder" Name="ProFilFol" >
				<Directory Id="bin" Name="bin">
					<Directory Id="Debug" Name="Debug" />
					<Component Id="TotoUtilExe" Guid="5732D924-4E80-48FD-BB9C-1B5471270728" DiskId="1">
						<File Id="totoUtil.exe" Name="totoUtil.exe" Source="..\totoUtil\bin\Debug\totoUtil.exe" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Product>
</Wix>
